/*Fonts´s definitions*/
@font-face {
    font-family: 'abelregular';
    src: url('./fonts/abel-regular-webfont.eot');
    src: url('./fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/abel-regular-webfont.woff2') format('woff2'),
         url('./fonts/abel-regular-webfont.woff') format('woff'),
         url('./fonts/abel-regular-webfont.ttf') format('truetype'),
         url('./fonts/abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acmeregular';
    src: url('./fonts/Acme-Regular-webfont.eot');
    src: url('./fonts/Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Acme-Regular-webfont.woff2') format('woff2'),
         url('./fonts/Acme-Regular-webfont.woff') format('woff'),
         url('./fonts/-Regular-webfont.ttf') format('truetype'),
         url('./fonts/Acme-Regular-webfont.svg#acmeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Body font*/
body{
    font-family: Arial, Helvetica, sans-serif;
   
}
/*Logo*/
.header__logo a{
    font-family: 'abelregular';
    text-decoration: none;
    color: #75a3a3;
}

/*header*/
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 1.5em;
    
}
nav ul li
{
    margin: 10px;
}
nav ul a 
{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
nav ul a:hover
{
    color: #099109;
}

/*Banner*/
.banner
{
    background: url("../Images/programmingJpg.jpg") no-repeat;
    background-size: cover;
    height: 30em;
}
.banner__description
{
    padding-top: 7em;
    padding-left: 5em;
}
.banner__description h1, .banner__description p
{
    color: white;
}
.banner__word1, .banner__word2
{
    color: #4dff4d;
}
.banner__btn
{
    padding-left: 5em;
}
.banner__btn a
{
    text-decoration: none;
    color: #4dff4d;
    background-color: white;
    padding: 0.5em 1em;
    opacity: 0.7;
}
.banner__btn a:hover
{
    opacity: 0.9;
}

/*Part1*/
.part1
{
    display: flex;
    height: 37em;
    justify-content: center;
    
}
.part1-description
{
    padding-top: 5em;
    margin-right: 3em;
    font-size: 22px;
}
.part1__img
{
    padding-top: 6em;
    margin-left: 3em;
}
.part1 h1{
    font-size: 64px;
    color: #00e600;
}
.part1-description a
{
    text-decoration: none;
    color: white;
    background-color: #197e19;
    padding: 1em 2em;
    opacity: 0.7;
}
.part1-description a:hover{
    opacity: 0.5;
}

/*Section2*/
.part2
{
    display: flex;
    flex-direction: column;
    height: 27em;
    background-color: #a5a7a5;
}
.part2__title{
    margin-top: 4em;
    color: #00e600;
}
.part2 h2
{
    font-size: 27px;
}
.part2 p, .part2__title
{
    text-align: center;
}
.part2-description
{
    margin-left: 4em;
    margin-right: 4em;
    font-size: 22px;
}
.part2-description__btn
{
    text-align: center;
}
.part2-description a
{
    text-decoration: none;
    color: white;
    background-color: #197e19;
    padding: 1em 1em;
    opacity: 0.7;
}
.part2-description a:hover{
    opacity: 0.5;
}

/*Section3*/
.part3
{
    height: 40em;
    margin-top: 0em;
    /*background-color: #eaecea;*/
}
.part3 img/*I transform the image to have a circular outline*/
{
    width: 200px;
    clip-path: ellipse(50% 50%);
}
.part3__title
{
    font-size: 22px;
    color: #00e600;
    text-align: center;
    padding-top: 2em;
}
.part3 h4, .part3 cite
{
    color: #00e600;
}
.both
{
    display: flex;
    justify-content: center;
}
.firstOfBoth
{
    margin-top: 3em;
    padding-right: 7em;
}
.secondOfBoth
{
    margin-top: 3em;
    padding-left: 6em;
}
.part3 cite
{
    display: block;
}
.firstOfBoth, .secondOfBoth{
    text-align: center;
}
.part3 p, .part3 h4, .part3 cite
{
    text-align: center;
}

/*Footer*/
footer
{
    height: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 9em;
    background-color: white;
    margin-left: 0;
    border-top: 1px solid #458145;
}
footer p
{
    text-align: center;
    margin-left: 2em;
}
.footer__child1
{
    margin-top: 3em;
    margin-right: 8em;
    color: rgb(25, 214, 25);
}
.footer__child2
{
    margin-top: 4em;
    margin-right: 8em;
}
.footer__child3
{
    margin-top: 2.7em;
    margin-right: 8em;
    color: rgb(25, 214, 25);
}
footer ul 
{
    list-style-type: none;
}
footer ul li{
    margin-top: 2em;
}
footer ul li a, .footer__child2 a
{
    text-decoration: none;
    color: black;
}
footer ul li a:hover, .footer__child2 a:hover{
    color: #099109;
}
.icon 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Responsive design*/
@media all and (max-width: 1024px)
{
    body
    {
        width: 100%;
        padding: 0px;
    } 
    nav ul a
    {
        font-size: 24px;;
    }
    .banner h1 
    {
        font-size: 39px;
    }
    .banner p
    {
        font-size: 30px;
    }
    .banner a
    {
        font-size: 30px;
    }
    .part1
    {
        flex-direction: column;
        height: 97em;;
        width: 100%;
    }
    .part1-description 
    {
        padding-top: 0;
        margin-left: 2em;
        font-size: 44px;
        text-align: left;
    }
    .part1__img 
    {
        padding-top: 7em;
        
    }
    .part1 p
    {
        margin-top: 29px;    
    }
    .part1 img 
    {
        height: 30em;
        width: 55em;
    }
    .part2
    {
        width: 100%;
        height:77em;
    }
    .part2 h2
    {
        font-size: 50px;
        text-align: left;
        margin-left: 1.8em;
    }
    .part2 p
    {
        font-size: 44px;
        text-align: left;
        margin-left: 0.3em;
        margin-right: 3em;;
    }
    .part2-description__btn
    {
        text-align: left;
        margin-left: 0.7em;
        margin-top: 1em;
    }
    .part2 a
    {
        font-size: 44px;  
    }
    .part3
    {
        height: 50em;
    }
    .both
    {
        flex-direction: column;
        justify-content: center;
        margin-top: 4em;
    }
    .part3__title
    {
        text-align: center;
        font-size: 30px
    }
    .secondOfBoth 
    {
        display: none;
    }
    .firstOfboth 
    {
        left: 30em;
    }
    .firstOfBoth h4, .firstOfBoth cite, .firstOfBoth p
    {
        font-size: 27px;;
    }
    .firstOfBoth__img 
    {
        margin-left: 4em; 
    }
    .firstOfBoth__description 
    {
        margin-left: 2em;
    }
    footer p
    {     
        font-size: 26px;
        padding-left: 0.7em;
    }
    footer p
    {
        margin-left: 1em;
    }
    footer a
    {
        font-size: 24px;
    }
    footer h3
    {
        font-size: 24px;
    }
}